.container {
  background-color:  #151c2c;
  padding: 20px;
  position: sticky;
  border-radius: 5px;
  color: #b7bac1;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .userDetail {
    display: flex;
    flex-direction: column;
  }
  .username {
    font-weight: 700;
    font-size: 15px;
  }
  .usertitle {
    font-weight: 400;
    font-size: 14px;
    color: gray;
  }
 
  .titles {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    color: gray;
    margin-top: 15px;
  }
  .logout {
    padding: 12px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 17px;
    cursor: pointer;
    border-radius: 10px;
    background-color: none;
    width: 100%;
    font-weight: 500;
    font-size: 13px;

  }
  .logout:hover {
    background-color: #2e374a;
    border-radius: 5px;  }